*.class
*.iml
.idea/
target/
geocode-ws/logs
database/export-complete
database/import-complete
database/layers-subdivided
database/layers

# Package Files #
*.jar
*.war
*.ear
/geocode-ws/dependency-reduced-pom.xml
