<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gbif.geocode.ws.persistence.mapper.GadmMapper">

  <select id="listLevel0" resultType="GadmRegion">
    SELECT DISTINCT gid_0 AS id, name_0 AS name, 'GADM0' AS type
    FROM gadm3
    <if test="query != null" >
      WHERE name_0 ILIKE trim(#{query}) || '%'
    </if>
    <if test="query == null" >
      ORDER BY gid_0
    </if>
  </select>

  <select id="listLevel1" resultType="GadmRegion">
    SELECT DISTINCT gid_1 AS id, name_1 AS name, 'GADM1' AS type
    FROM gadm3
    WHERE gid_0 = UPPER(#{gid0})
    <if test="query != null" >
      AND name_1 ILIKE trim(#{query}) || '%'
    </if>
    <if test="query == null" >
      ORDER BY gid_1
    </if>
  </select>

  <select id="listLevel2" resultType="GadmRegion">
    SELECT DISTINCT gid_2 AS id, name_2 AS name, 'GADM2' AS type
    FROM gadm3
    WHERE gid_0 = UPPER(#{gid0}) AND gid_1 = UPPER(#{gid1})
    <if test="query != null" >
      AND name_2 ILIKE trim(#{query}) || '%'
    </if>
    <if test="query == null" >
      ORDER BY gid_2
    </if>
  </select>

  <select id="listLevel3" resultType="GadmRegion">
    SELECT DISTINCT gid_3 AS id, name_3 AS name, 'GADM3' AS type
    FROM gadm3
    WHERE gid_0 = UPPER(#{gid0}) AND gid_1 = UPPER(#{gid1}) AND gid_2 = UPPER(#{gid2})
    <if test="query != null" >
     AND name_3 ILIKE trim(#{query}) || '%'
    </if>
    <if test="query == null" >
      ORDER BY gid_3
    </if>
  </select>


  <select id="search" resultType="GadmRegion">
    SELECT DISTINCT id, name, type
    FROM gadm_regions
    <where>
      <if test="level != null" >
        type = '${'GADM' + level}'
      </if>
      <if test="parentId != null" >
        AND parent_id = #{parentId}
      </if>
      <if test="query != null" >
        AND (name ILIKE trim(#{query}) || '%'  OR id ILIKE trim(#{query}) || '%')
      </if>
    </where>

    <if test="page != null" >
      LIMIT #{page.limit} OFFSET #{page.offset}
    </if>
  </select>

  <select id="searchCount" resultType="long">
    SELECT count(*) FROM (
      SELECT DISTINCT id, name, type
      FROM gadm_regions
      <where>
        <if test="level != null" >
          type = '${'GADM' + level}'
        </if>
        <if test="parentId != null" >
          AND parent_id = #{parentId}
        </if>
        <if test="query != null" >
          AND (name ILIKE trim(#{query}) || '%'  OR id ILIKE trim(#{query}) || '%')
        </if>
      </where>
    ) AS results
    </select>

</mapper>
