<configuration>
  <!-- DEVELOPMENT FILE: This file is excluded from the build. -->

  <contextName>Geocode WS</contextName>
  <jmxConfigurator/>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <property name="defaultPattern" value="%-5level [%date{'HH:mm:ss,SSS'}] [%thread] %logger: %msg%n%xEx"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <logger name="org.gbif.geocode" level="DEBUG"/>
  <logger name="org.gbif.geocode.ws.model.TileMapper" level="INFO"/>

  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
