<configuration>

  <!-- Always good to have it in here for debugging -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <logger name="org.gbif.geocode" level="DEBUG"/>
  <logger name="org.gbif.geocode.ws.persistence.mapper" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
